<header id="content_header" class="highlighted_text dark">About the Film</header>
<section id="about" class="content">
	<div class="scrollable_area">
		<div class="column first">
			<p> <i>The Biggest Story Problem</i> is an independent documentary film examining the sudden drop in math scores and competency seen as students in the U.S. transition from primary to secondary schools. From a global perspective, American students typically score above average in elementary school, yet the United States ranks in the bottom tier of math scores for 15 year-old students. This dramatic drop in competency has been attributed to a “crowded curriculum” that’s “a mile wide and an inch deep.” Yet, despite these concerns, middle school math curriculum has yet to truly change.
			</p>
			<p>
				The documentary interweaves the story of New Mexico’s teacher-turned-game designer, Scott Laidlaw, creator of Ko’s Journey, an innovative online story-based math game; the stories of teachers and schools taking part in a pilot program using Ko’s Journey to increase student engagement in math; and the broad-based story of math education in the United States, contrasting it to countries, such as Finland, that consistently score in the top tier of the OECD.
			</p>
			<p>
				The central message to the story is that our country is failing in math, and that may come down to a simple lack of meaning and purpose. The Biggest Story Problem looks at a variety of factors that are influencing math education and scores in the United States, from textbooks, with more pages than there are days in the school year, to the drill-reward-repeat structure embraced in math classrooms throughout the country and most game-based interventions, that might actually be making the problem worse due by emphasizing that math is a subject that must be memorized to be mastered, rather than a subject with meaning, purpose and relevance that is waiting to be explored.
			</p>
			<p>
				The film features interviews with a number of noted education experts, reformers and researchers, including NPR’s Math Guy, Keith Devlin, Ph.D., a Stanford University researcher looking at the use of media technology to teach and communicate mathematics; Marilyn Burns, leading author, math educator and founder of Math Solutions; Ann Shannon, mathematics consultant for the Gates Foundation; and Alfie Kohn, author and lecturer on human behavior and education, exploring the impact of rewards, assessment and learning.
			</p>
			<p>
				<i>The Biggest Story Problem</i> also goes into classrooms and homes, as students and teachers alike grapple with the challenges of math – and the challenges that arise with pioneering innovative technological interventions. The film offers a refreshing and uplifting perspective on the role of math teachers in school and society, providing personal stories and insights into what brings teachers into the math classroom, day after day, year after year. 
			</p>
			<p>
				The documentary film was undertaken as part of a Wave II Next Generation Learning Challenges (NGLC) Grant received by Imagine Education to conduct an in-school pilot program and efficacy study of Ko’s Journey during the 2011-2012 school year.  With film production supported by the NGLC, Imagine Education is now looking to secure additional underwriting to distribute professional development copies as an effort to reach every public middle school in the United States.
			</p>
		</div>
		<div class="column">
			<div class="download_link">
				For more information:
				<a href="/downloads/Press Kit - The Biggest Story Problem.pdf", title="The Biggest Story Problem - Press Kit" target="_blank">Press Materials</a>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/chloe.png") %>
				<p class="caption">LA Teacher Asmara Ogbai with student Chloe Owens</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/devlin.png") %>
				<p class="caption">NPR's "Math Guy" Keith Devlin</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/kazaam.png") %>
				<p class="caption">KDSL's Kevin Simpson with Kazam!</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/math-book.png") %>
				<p class="caption">World Super Textbook Competition</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/hands.png") %>
				<p class="caption">The Power of Questions</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/scott.png") %>
				<p class="caption">Scott Laidlaw in Finland (dead of winter)</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/shiprock.png") %>
				<p class="caption">NM Students from Kirtland Middle School</p>
			</div>
			<div class="about_still">
				<%= image_tag("about-stills/julie.png") %>
				<p class="caption">Florida Virtual School's President & CEO, Julie Young</p>
			</div>															

			<p>
				From the perspective of one teacher-turned-game designer, Scott Laidlaw, you will meet the teachers and schools on the front-lines taking part in changing our nation's story of math education.
			</p>

		</div>
	</div>
</section>