<header id="content_header" class="highlighted_text dark">Contact Us</header>
<section id="contact" class="content">
	<div>
		Contact us for a screening in your area<br/> 
		phone: 575.224.1480<br/>
		email: <%= link_to "jennifer@imagineeducation.org", "mailto:jennifer@imagineeducation.org" %>
	</div>
	<%= form_tag new_contact_path do %>
		<%= hidden_field_tag :captcha %>
		<div class="field">
			<label>First Name</label><br/>
			<%= text_field_tag :first_name %>
		</div>
		<div class="field">
			<label>Last Name</label><br/>
			<%= text_field_tag :last_name %>
		</div>
		<div class="field">
			<%= label_tag "Email" %><br/>
			<%= text_field_tag :email %>
		</div>
		<div class="field">
			<%= label_tag "Comments" %><br/>
			<%= text_area_tag :comments %>
		</div>
		<div class="field form_links">
			<div>For more information: <a href="/downloads/Press Kit - The Biggest Story Problem.pdf", title="The Biggest Story Problem - Press Kit" target="_blank">Press Materials</a></div>
			<div class="facebook_link">
				<span>We're on Facebook:</span> 
				<div class="fb-like" data-href="http://www.facebook.com/TheBiggestStoryProblem" data-send="false" data-layout="button_count" data-width="75" data-show-faces="true" data-font="lucida grande">
				</div>
			</div>
			<div class="imdb_link">
				<span>Write a review on IMDB</span>
				<%= link_to "Write a Review", "http://www.imdb.com/title/tt2255402/" %>
			</div>
		</div>
		<div class="field action">
			<%= submit_tag "Contact Us", :class => "button blue_button" %>
		</div>
	<% end %>
</section>
