<header id="content_header" class="sponsor_header highlighted_text dark">Sponsor a School: <span>Change Math Across the Nation</span></header>
<section id="sponsor" class="content">
	<div class="column first">
		<div id="counter">
			<p class="counter_section">
				<span><%= pledge_count %></span>
				schools sponsored				
			</p>
			<p class="counter_section">
				<span>$<%= pledge_amount %></span>
				of $25,000 pledged goal
			</p>
			<p class="counter_section">
				<span><%= countdown %></span>
				days to goal
			</p>
		</div>
	</div>
	<div class="column">
		<%= link_to(image_tag("dvd.png", :id => "cover"), new_pledge_path) %>
		<div class="pledge">
			<%= link_to "Sponsor A School", new_pledge_path, class: "button blue_button", title: "Biggest Story Problem - Kickstarter Project" %>
		</div>
	</div>
</section>
<section class="content">
	<section id="pledge_boxes">
		<ul>
			<li>
				<span class="pledge_amount">$25</span>
				1 DVD to a school
			</li>
			<li>
				<span class="pledge_amount">$40</span>
				1 DVD to a school<br/> + 1 DVD to you
			</li>
			<li>
				<span class="pledge_amount">$100</span>
				5 DVD's to schools<br/> + 1 DVD to you
			</li>
			<li class="full_width">
				<span class="pledge_amount">or Pledge $100 or more</span>
				and we will send to even more schools.
			</li>			
		</ul>
	</section>
	<div class="column first">
		<p>
			As a widespread effort to change math education, we have set a goal to send a DVD to every public middle school in the United States! All proceeds from your donation will be dedicated to achieving this goal.
		</p>
		<p>
			Pledge $40 or more and you’ll also receive a copy of the film for yourself. Please remember to provide the name and address of the middle school(s) you’d like to receive the DVD(s) in the school information section of your pledge. If you do not have a middle school to suggest, we will send to the next one on our list!
		</p>
	</div>
	<div class="column">
		<p>
		DVDs will be released to schools throughout the 2012-13 school year. Your DVD copies will be mailed (free shipping within the US) as soon as we release to the public (2012). <span class="bold">To schedule a screening immediately in your area, please <%= link_to "contact us", contact_path %>.</span>
		</p>
	</div>
</section>
<%= clear %> 