<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="Cache-control" content="no-cache">
<meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
     Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta meta http-equiv="X-UA-Compatible" value="IE=8" />

<meta name="copyright" content="Copyright 2012 <%= APP['app_name'] %>">
<meta name="title" CONTENT="<%= APP['app_name'] %>">
<meta name="description" content="">
<meta name="author" content="">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">


<%#= csrf_meta_tag %>
<title><%= @page_title ? "#{@page_title} | #{APP['app_name']}" : APP['app_name'] %></title>
<%= stylesheet_link_tag 'core', 'errors', 'html5videoplayer', 'application/application' %>
<%= yield :headmeta %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= javascript_include_tag "tp-scripts/preload" %>