<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
  <head>
    <%= render :partial => 'layouts/application/headmeta' %>
  </head>

  <body id="application">
  
    <%# Flash Notice %>
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  
    <%# Header %>
    <div id="mast_header" class="content_wrapper">
      <div id="hd" class="internal_content_wrapper">
        <%= render :partial => "layouts/application/main_nav" %>
      </div>
    </div>
    <%= clear %>
  
    <%# Main Content %>
    <div id="combined_segments">

      <%# Footer (on top to allow for layer stack. for effect %> 
      <div id="mast_footer" class="content_wrapper">
        <div id="ft" class="internal_content_wrapper">
          <%= render :partial => "layouts/application/footer" %>
        </div>
      </div>


      <div id="cloud1" class="x1"></div>
      <div id="cloud2" class="x2"></div>
      <div id="cloud3" class="x3"></div>
      <div id="mast_bd" class="content_wrapper">
        <div id="ajax_status">
          <%= image_tag "ajax-loader.gif" %>
          Loading...
        </div>
        <div id="bd" class="content_wrapper">
          <div id="main_content_wrapper">
            <div id="left_hand"></div>
            <div id="right_hand"></div>
            <div id="main_content">
              <aside id="sidebar">
                <%= yield :sidebar %>
              </aside>
              <div id="main_section"> <%# This is 585x329 for 16:9 %>
                <%= yield %>
              </div>
              <footer id="main_content_footer"><%= link_to "An Imagine Education Production", "http://imagineeducation.org", :target => "_blank" %></footer>
            </div>
          </div>
      		<%= clear %>
        </div>
      </div>
    
    </div>

    <%= render :partial => "layouts/cdn_scripts" %>
    <%= render :partial => "layouts/application/scripts" %>
    <%= render :partial => "layouts/application/google_analytics" %>
  </body>

</html>
